body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrato {
  text-align: center;
}

.titolo {
  font-size: 30px;
  margin-bottom: 20px;
}
